<template>
  <a-card :bordered="false">
    <!-- <div slot="title">
    </div> -->
    <div slot="extra">
      <!-- <a-radio-group v-model="searchStatus" @change="changeStatus">
        <a-radio-button :value="2">全部</a-radio-button>
        <a-radio-button :value="1">已开通</a-radio-button>
        <a-radio-button :value="0">未开通</a-radio-button>
      </a-radio-group> -->
      <a-input-search v-model="searchName" placeholder="请输入应用名称" style="margin-left: 16px; width: 230px;" @search="onSearch"/>
    </div>
    <ApplicationList
      ref="appList"
      :tenantId="tenantId"
      :searchName="searchName"
      :isEdit="false"
      isAutho
      @handleSetting="handleSetting"/>
    <AppModal
      :visible.sync="visible"
      :tenantId="tenantId"
      :appInfo="appInfo"
      @handleOk="handleOk"
      @handleCancel="handleCancel"/>
  </a-card>
</template>

<script>
  import ApplicationList from '@/views/application/modules/ApplicationList'
  import AppModal from '../components/AppModal'

  export default {
    components: {
      ApplicationList,
      AppModal
    },
    props: {
      tenantId: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        searchName: '',
        searchStatus: 2,
        visible: false,
        appInfo: null
      }
    },
    methods: {
      handleSetting (item) {
        console.log('item===>', item)
        this.visible = true
        this.appInfo = item
      },
      onSearch () {
        this.$nextTick(() => {
          this.$refs.appList.getList()
        })
      },
      changeStatus (e) {
        console.log('val===>', e)
        this.searchStatus = e.targetad.value
      },
      // 授权成功
      handleOk () {
        this.$nextTick(() => {
          this.$refs.appList.getList()
        })
      },
      handleCancel () {

      }
    },
    watch: {
      tenantId: {
        handler (val) {
          if (val) {
            this.$nextTick(() => {
              this.searchName = ''
              this.$refs.appList.getList()
            })
          }
        },
        immediate: true
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
