<template>
  <a-card :bordered="false">
    <a-row class="top" style="margin-bottom: 20px;" type="flex" justify="space-between">
      <a-col :span="22">
        <a-input-search v-model="search.name" placeholder="请输入角色名称" style="width: 180px;margin-right:24px" allow-clear @search="onSearch" />
        <a-radio-group v-model="search.status" @change="handleChange">
          <a-radio-button :value="undefined">全部</a-radio-button>
          <a-radio-button :value="1">正常</a-radio-button>
          <a-radio-button :value="0">停用</a-radio-button>
        </a-radio-group>
        <!-- <a-input-search v-model="search.code" placeholder="请输入门店编码" style="width: 180px;margin-right:24px" allow-clear @search="init" /> -->
      </a-col>
      <a-col :span="2">
        <a-button type="primary" @click="addNew">新增角色</a-button>
      </a-col>
    </a-row>
    <a-table
      :columns="columns"
      :data-source="data"
      :pagination="pagination"
      :scroll="{ x: 1000 }"
      rowKey="id"
      size="middle"
      @change="pageChange">
      <template slot="logo" slot-scope="text, record">
        <img style="width:50px;height:50px;" :src="record.logo" alt="">
      </template>
      <template slot="status" slot-scope="text, record">
        <span v-if="record.status === 1">
          <span class="green"></span>
          正常
        </span>
        <span v-else>
          <span class="grey"></span>
          失效
        </span>
      </template>
      <template slot="operation" slot-scope="text, record">
        <a-button type="link" class="text-btn" size="small" @click="handleEdit(record)">
          编辑
        </a-button>
      </template>
    </a-table>
    <RoleModal
      :tenantId="tenantId"
      :visible.sync="visible"
      :editId="editId"
      @handleCancel="handleCancel"
      @handleOk="handleOk"/>
  </a-card>

</template>

<script>
  import { getRoleList } from '@/api/tenent'
  import RoleModal from '../components/RoleModal'
  const columns = [
     {
      dataIndex: 'id',
      title: '角色编号',
      width: '100'
    },
    {
      dataIndex: 'name',
      title: '角色名称',
      width: '130'
    },
    {
      dataIndex: 'desc',
      title: '介绍',
      width: '130'
    },
    {
      dataIndex: 'createdAt',
      title: '创建时间',
      width: '130'
    },
    {
      title: '状态',
      dataIndex: 'status',
      scopedSlots: { customRender: 'status' },
      width: 100
    },
    {
      title: '操作',
      scopedSlots: { customRender: 'operation' },
      width: 100,
      fixed: 'right'
    }
  ]
  export default {
    components: {
      RoleModal
    },
    props: {
      tenantId: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        columns,
        visible: false,
        data: [],
        search: {
          name: '',
          status: 1
        },
        pagination: {
          showSizeChanger: true,
          showQuickJumper: true,
          pageSize: 20,
          current: 1,
          total: 0
        },
        editId: ''
      }
    },
    mounted () {
      this.getList()
    },
    methods: {
      getList () {
        getRoleList({
          tenantId: this.tenantId,
          ...this.search,
          page: this.pagination.current,
          pageSize: this.pagination.pageSize
        }).then(res => {
          console.log('res===>', res)
          this.data = res.list
          this.pagination.total = res.total
        })
      },
      // 修改分页
      pageChange (pagination, filters, sorter, { currentDataSource }) {
        console.log('pagination===>', pagination)
        this.pagination = pagination
        this.getList()
      },
      onSearch (val) {
        console.log('val===>', val)
        this.pagination.current = 1
        this.getList()
      },
      handleChange (e) {
        console.log('val===>', e)
        this.search.status = e.target.value
        this.pagination.current = 1
        this.getList()
      },

      handleEdit (item) {
        this.editId = item.id
        this.visible = true
      },

      addNew () {
        this.visible = true
      },

      handleOk () {
        this.pagination.current = 1
        this.getList()
      },
      handleCancel () {
        this.editId = ''
      }
    },
    watch: {
      tenantId: {
        handler (val) {
          if (val) {
            this.search = {
              name: '',
              status: 1
            }
            this.getList()
          }
        },
        immediate: true
      }
    }
  }
</script>

<style lang="less" scoped>
</style>
