<template>
  <a-card :bordered="false">
    <div slot="extra">
      <a-input-search v-model="keyword" placeholder="请输入门店名称/门店编码" style="width: 240px;margin-right:24px" allow-clear @search="handleSearch" />
    </div>
    <a-table
      :columns="columns"
      :data-source="data"
      :pagination="pagination"
      :scroll="{ x: 1000 }"
      rowKey="id"
      size="middle"
      @change="pageChange">
      <template slot="logo" slot-scope="text, record">
        <img style="width:50px;height:50px;" :src="record.logo" alt="">
      </template>
      <template slot="status" slot-scope="text, record">
        <span v-if="record.status === 1">
          <span class="green"></span>
          正常
        </span>
        <span v-else>
          <span class="grey"></span>
          失效
        </span>
      </template>
      <template slot="operation" slot-scope="text, record">
        <a-button type="link" class="text-btn" size="small" @click="handleEdit(record)">
          详情
        </a-button>
        <span class="divide"></span>
        <a-button type="link" class="text-btn" size="small" @click="handleUpdate(record)">
          {{ record.status === 1 ? '停用' : '启用' }}
        </a-button>
      </template>
    </a-table>
  </a-card>

</template>

<script>
  import { getStoreList } from '@/api/tenent'
  const columns = [
    {
      dataIndex: 'code',
      title: '门店编码',
      width: 130
    },
    {
      dataIndex: 'name',
      title: '门店名称',
      width: 130
    },
    {
      dataIndex: 'address',
      title: '门店地址',
      width: 300
    },
    {
      dataIndex: 'aliasNames',
      title: '联系人',
      width: '130'
    },
    {
      dataIndex: 'statusDesc',
      title: '状态',
      width: '130'
    }
  ]
  export default {
    props: {
      tenantId: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        columns,
        data: [],
        search: {
          name: '',
          code: ''
        },
        pagination: {
          showSizeChanger: false,
          showQuickJumper: true,
          pageSize: 20,
          current: 1,
          total: 0
        }
      }
    },
    mounted () {
      this.getList()
    },
    methods: {
      getList () {
        getStoreList({
          tenantId: this.tenantId,
          keyword: this.keyword,
          page: this.pagination.current,
          pageSize: this.pagination.pageSize
        }).then(res => {
          console.log('res===>', res)
          this.data = res.list
        })
      },
      handleSearch () {
        this.pagination.current = 1
        this.getList()
      },
       // 修改分页
      pageChange (pagination, filters, sorter, { currentDataSource }) {
        console.log('pagination===>', pagination)
        this.pagination = pagination
        this.getList()
      }
    },
     watch: {
      tenantId: {
        handler (val) {
          if (val) {
            this.getList()
          }
        },
        immediate: true
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
