<template>
  <a-card :bordered="false">
    <a-row class="top" style="margin-bottom: 20px;" type="flex" justify="space-between">
      <a-col :span="22">
        <a-input-search v-model="keyword" placeholder="请输入用户名称" style="width: 180px;margin-right:24px" allow-clear @search="onSearch" />
      </a-col>
      <a-col :span="2">
        <a-button type="primary" @click="addNew">新增用户</a-button>
      </a-col>
    </a-row>
    <a-table
      :columns="columns"
      :data-source="data"
      :pagination="pagination"
      :scroll="{ x: 1000 }"
      rowKey="id"
      size="middle"
      @change="pageChange">
      <!-- <template slot="status" slot-scope="text, record">
        <span v-if="record.status === 1">
          <span class="green"></span>
          正常
        </span>
        <span v-else>
          <span class="grey"></span>
          失效
        </span>
      </template> -->
      <template slot="operation" slot-scope="text, record">
        <a-button type="link" class="text-btn" size="small" @click="handleEdit(record)">
          编辑
        </a-button>
      </template>
    </a-table>
    <UserModal
      :visible.sync="visible"
      :form="form"
      :tenantId="tenantId"
      @handleCancel="handleCancel"
      @handleOk="handleOk"/>
  </a-card>

</template>

<script>
  import { getUserList, userDetail } from '@/api/tenent'
  import UserModal from '../components/UserModal'
  const columns = [
    {
      dataIndex: 'id',
      title: '用户ID',
      width: 100
    },
    {
      dataIndex: 'username',
      title: '用户名称',
      width: 180
    },

    {
      dataIndex: 'jobNumber',
      title: '工号',
      width: 130
    },
    {
      dataIndex: 'phone',
      title: '手机号',
      width: 130
    },
    {
      dataIndex: 'jobTitle',
      title: '职位',
      width: 100
    },
    {
      dataIndex: 'mail',
      title: '邮箱',
      width: 180
    },
    {
      dataIndex: 'creatorName',
      title: '创建人',
      width: 120
    },
    {
      dataIndex: 'createdAt',
      title: '创建时间',
      width: 170
    },
    {
      title: '操作',
      scopedSlots: { customRender: 'operation' },
      width: 100,
      fixed: 'right'
    }
  ]
  export default {
    components: {
      UserModal
    },
    props: {
      tenantId: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        columns,
        visible: false,
        data: [],
        keyword: '',
        pagination: {
          showSizeChanger: false,
          showQuickJumper: true,
          pageSize: 20,
          current: 1,
          total: 0
        },
        form: {}
      }
    },
    mounted () {
      this.getList()
    },
    methods: {
      getList () {
        getUserList({
          tenantId: this.tenantId,
          type: 'tenant',
          keyword: this.keyword,
          page: this.pagination.current,
          pageSize: this.pagination.pageSize
        }).then(res => {
          console.log('res===>', res)
          this.data = res.list
          this.pagination.total = res.total
        })
      },
      // 修改分页
      pageChange (pagination, filters, sorter, { currentDataSource }) {
        console.log('pagination===>', pagination)
        this.pagination = pagination
        this.getList()
      },
      onSearch (val) {
        console.log('val===>', val)
        this.pagination.current = 1
        this.getList()
      },
      // 编辑用户
      handleEdit (item) {
        console.log('item===>', item)
        userDetail({
          tenantId: this.tenantId,
          UserId: item.id
        }).then(res => {
          console.log('res===>', res)
          this.form = res.detail
        })
        this.visible = true
      },
      addNew (item) {
        console.log('item===>', item)
        this.form = {
          username: '',
          phone: '',
          mail: '',
          jobTitle: '',
          userType: '',
          roleIds: []
        }
        this.visible = true
      },
      handleCancel () {

      },
      handleOk () {
        this.pagination.current = 1
        this.getList()
      }
    },
    watch: {
      tenantId: {
        handler (val) {
          if (val) {
            this.keyword = ''
            this.getList()
          }
        },
        immediate: true
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
