<template>
  <page-header-wrapper>
    <a-card
      style="margin-top: 24px"
      :bordered="false">
      <div slot="extra">
        <a-input-search v-model="searchName" placeholder="请输入应用名称" style="margin-right: 16px; width: 230px;" @search="onSearch"/>
        <a-button type="primary" icon="plus" @click="add">添加</a-button>
      </div>
      <ApplicationList
        :searchName="searchName"
        ref="appList"
        @edit="edit"
        @toMenu="toMenu"/>
    </a-card>
    <applicationModal v-if="form" :visible.sync="visible" :form="form" @handleOk="handleOk"/>
  </page-header-wrapper>
</template>

<script>
// 演示如何使用 this.$dialog 封装 modal 组件
import { Ellipsis, AvatarList } from '@/components'
import ApplicationForm from './modules/ApplicationForm'
import ApplicationList from './modules/ApplicationList'
import applicationModal from './modules/applicationModal'
const AvatarListItem = AvatarList.Item

export default {
  name: 'StandardList',
  components: {
    Ellipsis,
    AvatarList,
    AvatarListItem,
    ApplicationForm,
    ApplicationList,
    applicationModal
  },
  data () {
    return {
      visible: false,
      form: null,
      searchName: ''
    }
  },
  methods: {
    add () {
      this.visible = true
      this.form = {
        name: '',
        desc: '',
        status: 1
      }
    },
    handleOk () {
      this.$nextTick(() => {
        this.searchName = ''
        this.$refs.appList.getList()
      })
    },
    onSearch () {
      this.$nextTick(() => {
        this.$refs.appList.getList()
      })
    },
    edit (record) {
      console.log('record', record)
      this.visible = true
      this.form = record
    },
    toMenu (item) {
      this.$router.push({ path: `/application/${item.id}/menus` })
    }
  },
  mounted () {
  }
}
</script>

<style lang="less" scoped>
.ant-avatar-lg {
    width: 48px;
    height: 48px;
    line-height: 48px;
}

/deep/ .anticon-plus-square.ant-tree-switcher-icon {
  font-size: 16px;
}
.list-content-item {
  color: rgba(0, 0, 0, .45);
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin-left: 40px;
  span {
      line-height: 20px;
  }
  p {
      margin-top: 4px;
      margin-bottom: 0;
      line-height: 22px;
  }
}
</style>
