<template>
  <page-header-wrapper class="page-wrapper">
    <a-card
      class="menu-list"
      :bordered="false">
      <a-row class="top" style="margin-bottom: 20px;" type="flex" justify="space-between">
        <a-col :span="22">
          <a-input-search v-model="searchName" placeholder="请输入菜单名称" style="width: 180px;margin-right:24px" allow-clear @search="onSearch" />
          <a-radio-group v-model="status" @change="handleChangeStatus">
            <a-radio-button :value="undefined">全部</a-radio-button>
            <a-radio-button :value="1">正常</a-radio-button>
            <a-radio-button :value="0">停用</a-radio-button>
          </a-radio-group>
        </a-col>
        <a-col :span="2">
          <a-button type="primary" @click="addNew()">新增</a-button>
        </a-col>
      </a-row>
      <a-table
        :columns="columns"
        :data-source="treeData"
        :pagination="false"
        :scroll="{ x: 1000 }"
        :indentSize="12"
        rowKey="id"
        size="middle">
        <template slot="sortValue" slot-scope="text, record">
          <MzEditableCell :text="text" @change="onCellChange(record, 'sortValue', $event)" />
        </template>
        <template slot="iconCode" slot-scope="text, record">
          <MzIcon v-if="record.iconCode" class="module-icon" :type="record.iconCode" />
          <img v-else-if="record.iconUrl" style="width:18px;heigh:18px;" :src="record.iconUrl" alt="">
        </template>
        <template slot="menuType" slot-scope="text, record">
          {{ menuTypeMap[record.type] }}
        </template>
        <template slot="status" slot-scope="text, record">
          <span v-if="record.status === 1">
            <span class="green"></span>
            正常
          </span>
          <span v-else>
            <span class="grey"></span>
            失效
          </span>
        </template>
        <template slot="operation" slot-scope="text, record">
          <a-button type="link" class="text-btn" size="small" @click="handleEdit(record)">
            编辑
          </a-button>
          <span class="divide"></span>
          <a-button type="link" class="text-btn" size="small" @click="addNew(record)">新增子菜单</a-button>
          <span class="divide"></span>
          <a-button v-if="!record.children || !record.children.length" type="link" class="text-btn" size="small" @click="handleDelete(record)">
            删除
          </a-button>
        </template>
      </a-table>
    </a-card>
    <MenusModal
      :visible.sync="menuEditVisible"
      :productId="productId"
      :form="menuForm"
      @handleChange="handleChange"
      @handleCancel="handleCancel"
      @handleOk="handleOk"/>
  </page-header-wrapper>
</template>

<script>
// 演示如何使用 this.$dialog 封装 modal 组件
import { Ellipsis } from '@/components'
import MenusModal from './modules/MenusModal.vue'
import MzEditableCell from '@/components/MzEditableCell'
import { getMenuList, delMenu, editMenu } from '@/api/application'

const columns = [
  {
    title: '菜单名称',
    dataIndex: 'name',
    width: 180,
    fixed: 'left'
  },
  {
    title: '上级菜单',
    dataIndex: 'parentName',
    width: 120
  },
  {
    title: '菜单类型',
    dataIndex: 'type',
    width: 100,
    scopedSlots: { customRender: 'menuType' }

  },
  {
    title: '菜单路径',
    dataIndex: 'url',
    width: 120

  },
  {
    title: '权限标识',
    dataIndex: 'code',
    width: 300
  },
  {
    title: '图标',
    dataIndex: 'iconCode',
    scopedSlots: { customRender: 'iconCode' },
    width: 80

  },

  {
    title: '排序',
    dataIndex: 'sortValue',
    width: 120,
    scopedSlots: { customRender: 'sortValue' }

  },
  {
    title: '状态',
    dataIndex: 'status',
    scopedSlots: { customRender: 'status' },
    width: 80

  },
  {
    title: '创建时间',
    dataIndex: 'createdAt',
    width: 180
  },
  {
    title: '操作',
    scopedSlots: { customRender: 'operation' },
    width: 180,
    fixed: 'right'

  }
]

export default {
  name: 'StandardList',
  components: {
    Ellipsis,
    MenusModal,
    MzEditableCell
  },
  data () {
    return {
      productId: '',
      searchName: '',
      status: 1,
      columns,
      treeData: [],
      menuTypeMap: {
        'module': '模块',
        'dir': '目录',
        'menu': '菜单'
      },
      menuEditVisible: false,
      menuForm: {} // 菜单表单

    }
  },
  methods: {
    getMenuList () {
      getMenuList({
        appId: this.productId,
        name: this.searchName,
        status: this.status
      }).then(res => {
        console.log('res===>', res)
        if (res) {
          this.treeData = res.list
        }
      })
    },

    init () {
      this.searchName = ''
      this.getMenuList()
    },

    onSearch () {
      this.getMenuList()
    },

    handleChangeStatus (e) {
      console.log('val===>', e)
      this.status = e.target.value
      this.getMenuList()
    },
    // 修改排序
    onCellChange (record, name, $event) {
      console.log('===>', record, name, $event)
      record[name] = $event
      editMenu({
        appId: this.productId,
        menuId: record.id,
        ...record
      }).then(res => {
        if (res.status) {
          this.$message.success('保存成功')
          this.getMenuList()
        }
      })
    },

    addNew (item) {
      console.log('item===>', item)

      let parentId = ''
      let type = 'module'
      if (item) {
        parentId = item.id
        type = 'menu'
      }
      this.menuEditVisible = true
      this.menuForm = {
        appId: this.productId,
        type,
        name: '',
        sortValue: 0,
        status: 1,
        parentId,
        iconCode: ''
      }
    },

    handleEdit (item) {
      console.log('item===>', item)

      this.menuEditVisible = true
      this.menuForm = JSON.parse(JSON.stringify(item))
      !this.menuForm.parentId && (this.menuForm.parentId = '')
    },

    handleDelete (item) {
      this.$confirm({
        centered: true,
        title: '警告',
        content: `是否确定删除名称为 ${item.name} 的菜单项?`,
        cancelText: '取消',
        okText: '确认',
        onOk: () => {
          // return new Promise((resolve, reject) => {
          //   setTimeout(Math.random() > 0.5 ? resolve : reject, 1000)
          // }).catch(() => console.log('Oops errors!'))
          delMenu({
            appId: this.productId,
            menuId: item.id
          }).then(res => {
            console.log('res===>', res)
            if (res.status) {
              this.$message.success('删除成功')
              this.init()
            }
          })
        },
        onCancel () {}
      })
    },

    handleChange (type, data) {
      this.menuForm[type] = data
    },

    // 保存、编辑成功
    handleOk () {
      this.menuForm = {}
      this.init()
    },

    // 关闭弹窗
    handleCancel () {
      console.log('handleCancel===>')
      this.menuForm = {}
    },

    onExpand (expandedKeys) {
      console.log('onExpand', expandedKeys)
      this.expandedKeys = expandedKeys
      // this.autoExpandParent = false
    }
  },
  mounted () {

  },
  watch: {
    $route: {
      handler (val) {
        if (val.params.id) {
          console.log('this.$route.params.id===>', this.$route.params.id)

          this.productId = this.$route.params.id
          this.getMenuList()
        }
      },
      immediate: true
    }
  }
}
</script>

<style lang="less">
.page-wrapper {
  min-width: 800px;
  overflow: auto;
}
</style>
<style lang="less" scoped>
.ant-avatar-lg {
    width: 48px;
    height: 48px;
    line-height: 48px;
}

.list-content-item {
    color: rgba(0, 0, 0, .45);
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-left: 40px;
    span {
        line-height: 20px;
    }
    p {
        margin-top: 4px;
        margin-bottom: 0;
        line-height: 22px;
    }
}

.menu-list {
  .text-btn {
    padding: 0;
    font-size:13px;
  }
  .divide {
    padding: 0 5px;
    color: rgba(0,0,0,0.4);
  }
  .green {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #52C41A;
    display: inline-block;
    margin-right: 5px;
  }
  .grey {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: rgba(0,0,0,0.2);
    display: inline-block;
    margin-right: 5px;
  }
}

.module-icon{
  font-size: 18px;
}

</style>
