<template>
  <a-list
    :loading="loading"
    :data-source="data"
    :grid="{ gutter: 24, xl: 4, lg: 3, md: 3, sm: 2, xs: 1 }"
    :pagination="false"
  >
    <a-list-item slot="renderItem" slot-scope="item">
      <a-card class="ant-pro-pages-list-projects-card" hoverable>
        <img slot="cover" :src="item.thumbPic" :alt="item.name" />
        <a-card-meta >
          <div slot="title" class="title">
            <span>{{ item.name }}</span>
            <a-tag :color="item.isOpen === 1 ? 'green': 'red'" v-if="isAutho">
              {{ item.isOpen === 1 ? '已开通': '未开通' }}
            </a-tag>
            <a-tag :color="item.status === 1 ? 'green': 'red'" v-else>
              {{ item.status === 1 ? '启用中': '已停用' }}
            </a-tag>
          </div>
          <template slot="description">
            <ellipsis :length="20">{{ item.desc }}</ellipsis>
          </template>
        </a-card-meta>
        <template slot="actions" v-if="isEdit">
          <a-tooltip title="编辑">
            <a-icon type="edit" @click="handleOption('edit', item)" />
          </a-tooltip>
          <a href="javascript:;" @click="handleOption('toMenu', item)">菜单管理</a>
        </template>
        <template slot="actions" v-else-if="isAutho">
          <a href="javascript:;" @click="handleOption('handleSetting', item)">
            <a-icon type="setting"/>
            <!-- 修改授权 -->
          </a>
        </template>
      </a-card>
    </a-list-item>
  </a-list>
</template>

<script>
  import { getApplicationList } from '@/api/application'
  import { Ellipsis, AvatarList } from '@/components'

  export default {
    props: {
      isEdit: {
        type: Boolean,
        default: true
      },
      isAutho: {
        type: Boolean,
        default: false
      },
      tenantId: {
        type: String,
        default: ''
      },
      searchName: {
        type: String,
        default: ''
      }
    },
    components: {
      Ellipsis,
      AvatarList
    },
    data () {
      return {
        data: [],
        loading: true,
        pagination: {
          showSizeChanger: false,
          showQuickJumper: true,
          pageSize: 50,
          pageNo: 1,
          total: 0
        }
      }
    },
    mounted () {
      this.getList()
    },
    methods: {
      getList () {
        getApplicationList({
          pageNo: this.pagination.pageNo,
          pageSize: this.pagination.pageSize,
          tenantId: this.tenantId,
          keyword: this.searchName
        }).then(res => {
          console.log(res)
          this.loading = false
          this.data = res.list
          this.pagination.pageSize = res.pageSize
          this.pagination.total = res.total || 0
        })
      },
      handleOption (type, item) {
        this.$emit(type, item)
      }
    }
  }
</script>

<style lang="less" scoped>
/deep/ .ant-card-body {
  padding:  18px  0 18px 10px;
}
.ant-pro-pages-list-projects-card {

  .title {
    display: flex;
    justify-content: space-between;
  }
}

</style>
