<template>
  <a-form @submit="handleSubmit" :form="form">
    <a-form-item
      label="应用名称"
      :labelCol="labelCol"
      :wrapperCol="wrapperCol"
    >
      <a-input v-decorator="['name', {rules:[{required: true, message: '请输入应用名称'}]}]" />
    </a-form-item>
    <a-form-item
      label="应用描述"
      :labelCol="labelCol"
      :wrapperCol="wrapperCol"
    >
      <a-textarea v-decorator="['desc']"></a-textarea>
    </a-form-item>
    <a-form-item
      label="应用状态"
      :labelCol="labelCol"
      :wrapperCol="wrapperCol"
    >
      <a-switch v-decorator="['status', {initialValue: 1, valuePropName: 'checked' }]" />
    </a-form-item>
  </a-form>
</template>

<script>
import pick from 'lodash.pick'

const fields = ['code', 'name', 'desc', 'icon', 'status', 'thumbPic']

export default {
  name: 'ApplicationForm',
  props: {
    record: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      labelCol: {
        xs: { span: 24 },
        sm: { span: 7 }
      },
      wrapperCol: {
        xs: { span: 24 },
        sm: { span: 13 }
      },
      form: this.$form.createForm(this),
      currentHost: 'https://www.mzdata.top'
    }
  },
  created () {
    if (location.origin !== 'https://www.mzdata.top') {
      this.currentHost = 'https://pre.mzdata.top'
    } else {
      this.currentHost = 'https://www.mzdata.top'
    }
  },
  mounted () {
    this.record && this.form.setFieldsValue(pick(this.record, fields))
    console.log('this.form===>', this.form)
  },
  methods: {
    onChange () {
      console.log('23232===>', 23232)
    },
    onOk () {
      console.log('监听了 modal ok 事件')
      return new Promise(resolve => {
        const { form: { validateFields } } = this
        this.visible = true
        validateFields((errors, values) => {
          if (!errors) {
            console.log('values', values, this.record)
            resolve(values)
          }
        })
      })
    },
    onCancel () {
      console.log('监听了 modal cancel 事件')
      return new Promise(resolve => {
        resolve(true)
      })
    },
    handleSubmit () {
      const { form: { validateFields } } = this
      this.visible = true
      validateFields((errors, values) => {
        if (!errors) {
          console.log('validateFields', values)
        }
      })
    }
  }
}
</script>
<style lang="less" scoped>
.uploader {
  position: relative;
  /deep/ .ant-upload {
    width: 140px;
    height: 140px;
  }
  .tip {
    position: absolute;
    top: 60px;
    left: 170px;
    font-size: 14px;
    opacity: 0.6;
    width: 260px;
  }

  .head-image {
    width: 140px;
    height: 140px;
  }
}
</style>
