<template>
  <a-modal
    :title="modalTitle"
    :visible="visible"
    :confirm-loading="confirmLoading"
    :width="800"
    centered
    @ok="handleOk"
    @cancel="handleCancel">
    <a-form-model
      ref="form"
      :model="form"
      :rules="rules"
      :colon="false"
      :label-col="formItemLayout.labelCol"
      :wrapper-col="formItemLayout.wrapperCol">
      <a-form-model-item
        ref="name"
        prop="name"
        label="应用名称">
        <a-input v-model="form.name" placeholder="请输入菜单名称"></a-input>
      </a-form-model-item>
      <a-form-model-item
        ref="url"
        prop="url"
        label="应用描述">
        <a-textarea v-model="form.desc" placeholder="请输入菜单路径" auto-size ></a-textarea>
      </a-form-model-item>
      <a-form-model-item
        ref="status"
        prop="status"
        label="应用状态">
        <a-switch :default-checked="form.status === 1" @change="onChangeStatus" />
      </a-form-model-item>
    </a-form-model>
  </a-modal>
</template>

<script>
  import { updateOrCreateApplication } from '@/api/application'

  const formItemLayout = {
    labelCol: { span: 3 },
    wrapperCol: { span: 8 }
  }
  export default {
    props: {
      visible: {
        type: Boolean,
        default: false
      },
      form: {
        type: Object,
        default: null
      }
    },

    data () {
      return {
        modalTitle: '新增应用',
        formItemLayout,
        rules: {
          name: [
            { required: true, message: '请输入应用名称', trigger: 'blur' }
          ]
        },
        confirmLoading: false
      }
    },
    created () {
    },
    methods: {
      onChangeStatus (val) {
        this.form.status = val
      },
      handleOk () {
        this.$refs.form.validate(async valid => {
          console.log('res===>', valid)

          if (!valid) return
          updateOrCreateApplication({
            ...this.form,
            status: this.form.status ? 1 : 0
          }).then(res => {
            console.log('res===>', res)
            if (res.status) {
              this.$message.success('保存成功')
              this.$emit('update:visible', false)
              this.$emit('handleOk')
              console.log('this.$refs.form===>', this.$refs.form)
            }
          })
        })
      },
      handleCancel () {
        this.$emit('handleCancel')
        this.$emit('update:visible', false)
      }
    }
  }
</script>

<style lang="less" scoped>
/deep/ .ant-form-item-no-colon {
  color: rgba(0,0,0,0.65)
}
.uploader {
  position: relative;
  // /deep/ .ant-upload {
  //   width: 80px;
  //   height: 80px;
  // }
  .head-image {
    width: 100px;
    height: 100px;
  }
}

</style>
