<template>
  <a-modal
    :title="modalTitle"
    :visible="visible"
    :confirm-loading="confirmLoading"
    :width="800"
    centered
    @ok="handleOk"
    @cancel="handleCancel">
    <a-form-model
      ref="form"
      :model="form"
      :rules="rules"
      :colon="false"
      :label-col="formItemLayout.labelCol"
      :wrapper-col="formItemLayout.wrapperCol">
      <a-form-model-item
        ref="parentName"
        prop="parentName"
        label="上级菜单">
        <a-tree-select
          :disabled="form.type === 'module'"
          v-model="form.parentId"
          style="width: 100%"
          :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
          :tree-data="typeTreeData"
          :replaceFields="replaceFields"
          placeholder="请选择上级菜单"
        >
        </a-tree-select>
      </a-form-model-item>
      <a-form-model-item
        ref="type"
        prop="type"
        label="菜单类型">
        <a-radio-group v-model="form.type">
          <a-radio value="module">模块</a-radio>
          <a-radio value="dir">目录</a-radio>
          <a-radio value="menu">菜单</a-radio>
        </a-radio-group>
      </a-form-model-item>
      <a-form-model-item
        ref="name"
        prop="name"
        label="菜单名称">
        <a-input v-model="form.name" placeholder="请输入菜单名称"></a-input>
      </a-form-model-item>
      <a-form-model-item
        ref="url"
        prop="url"
        label="菜单路径">
        <a-input v-model="form.url" placeholder="请输入菜单路径"></a-input>
      </a-form-model-item>
      <a-form-model-item
        ref="iconCode"
        prop="iconCode"
        label="图标">
        <a-radio-group v-model="iconType">
          <a-radio value="icon">图标</a-radio>
          <a-radio value="img">图片类型</a-radio>
        </a-radio-group>
        <a-input v-if="iconType === 'icon'" v-model="form.iconCode" placeholder="请输入菜单图标类名"></a-input>
        <a-upload
          v-else
          ref="uploader"
          list-type="picture-card"
          class="uploader"
          :show-upload-list="false"
          accept="image/*"
          :action="currentHost + '/coupon/api/v1/image/upload'"
          :beforeUpload="beforeUpload"
          @change="handleChangeImg"
        >
          <img v-if="form.iconUrl" :src="form.iconUrl" alt="avatar" class="head-image"/>
          <div v-else>
            <a-icon type="plus" />
          </div>
        </a-upload>
      </a-form-model-item>
      <a-form-model-item
        ref="sortValue"
        prop="sortValue"
        label="排序">
        <a-input-number id="inputNumber" v-model="form.sortValue" :min="0" @change="onChangeSort" />
      </a-form-model-item>
      <a-form-model-item
        ref="status"
        prop="status"
        label="状态">
        <a-switch :default-checked="form.status == 1" @change="onChangeStatus" />
      </a-form-model-item>
    </a-form-model>
  </a-modal>
</template>

<script>
  import { getMenuList, addMenu, editMenu } from '@/api/application'

  const formItemLayout = {
    labelCol: { span: 3 },
    wrapperCol: { span: 8 }
  }
  export default {
    props: {
      visible: {
        type: Boolean,
        default: false
      },
      form: {
        type: Object,
        default: null
      },
      productId: {
        type: String,
        default: '1'
      }
    },

    data () {
      return {
        currentHost: 'https://www.mzdata.top',
        formItemLayout,
        rules: {
          name: [
            { required: true, message: '请输入菜单名称', trigger: 'blur' }
          ],
          sortValue: [
            { required: true, message: '请输入排序', trigger: 'blur' }
          ]
          // couponIds: [{required: true, validator: this.validateCoupons}],
        },
        typeTreeData: [],
        value: undefined,
        confirmLoading: false,
        replaceFields: {
          title: 'name',
          key: 'id',
          value: 'id',
          children: 'children'
        },
        iconType: 'icon',
        modalTitle: '新增菜单'
      }
    },
    created () {
      if (location.origin !== 'https://www.mzdata.top') {
        this.currentHost = 'https://pre.mzdata.top'
      } else {
        this.currentHost = 'https://www.mzdata.top'
      };
      this.getMenuList()
    },
    methods: {
      getMenuList () {
        getMenuList({
          appId: this.productId,
          status: 1
        }).then(res => {
          console.log('getMenuList===>', res)
          this.typeTreeData = res.list
        })
      },
      onChangeSort () {

      },
      onChangeStatus (val) {
        this.$emit('handleChange', 'status', val)
      },
      handleChangeImg (files) {
        console.log('file===>', files, files.file.response)
        if (files.file.response) {
          this.$emit('handleChange', 'iconUrl', files.file.response.data)
        }
      },
      beforeUpload (file, fileList) {
        if (file.size > 1.2 * 1024 * 1024) {
          this.$message.error('图片最大上传1.2M')
          return false
        }
        console.log('111===>', file, fileList)
      },
      handleOk () {
        this.$refs.form.validate(async valid => {
          if (!valid) return
          if (this.form.type === 'module') {
            this.form.parentId = 0
          }
          const apiUrl = this.form.id ? editMenu : addMenu
          apiUrl({
            menuId: this.form.id,
            ...this.form,
            status: this.form.status ? 1 : 0
          }).then(res => {
            console.log('res===>', res)
            if (res.status) {
              this.$message.success('保存成功')
              this.$emit('update:visible', false)
              this.$emit('handleOk')
              console.log('this.$refs.form===>', this.$refs.form)
            }
          })
        })
      },
      handleCancel () {
        this.$emit('handleCancel')
        this.$emit('update:visible', false)
      }
    },
    watch: {
      visible: {
        handler (val) {
          if (val) {
            this.iconType = this.form.iconCode ? 'icon' : 'img'
            this.modalTitle = this.form.id ? '编辑菜单' : '新增菜单'
          } else {
            this.iconType = 'icon'
          }
        },
        immediate: true
      }
    }
  }
</script>

<style lang="less" scoped>
/deep/ .ant-form-item-no-colon {
  color: rgba(0,0,0,0.65)
}
.uploader {
  position: relative;
  // /deep/ .ant-upload {
  //   width: 80px;
  //   height: 80px;
  // }
  .head-image {
    width: 100px;
    height: 100px;
  }
}

</style>
