<template>
  <a-modal
    :title="modalTitle"
    :visible="visible"
    :confirm-loading="confirmLoading"
    :width="750"
    centered
    @ok="handleOk"
    @cancel="handleCancel">
    <a-form-model
      ref="form"
      :model="form"
      :rules="rules"
      :colon="false"
      :label-col="formItemLayout.labelCol"
      :wrapper-col="formItemLayout.wrapperCol">
      <a-form-model-item
        ref="auth"
        prop="auth"
        label="菜单授权">
        <MenuTree ref="menuTree" v-if="appInfo" :appId="appInfo.id"/>
      </a-form-model-item>
    </a-form-model>
  </a-modal>
</template>

<script>
  import MenuTree from './MenuTree'
  import { authMenus, getAuthMenus } from '@/api/tenent'

  const formItemLayout = {
    labelCol: { span: 3 },
    wrapperCol: { span: 8 }
  }
  export default {
    components: {
      MenuTree
    },
    props: {
      visible: {
        type: Boolean,
        default: false
      },
      appInfo: {
        type: Object,
        default: null
      },
      tenantId: {
        type: String,
        default: ''
      }
    },

    data () {
      return {
        formItemLayout,
        rules: {
          auth: [
            { required: true, message: this.validateMenu, trigger: 'change' }
          ]
        },
        form: {},
        confirmLoading: false
      }
    },
    methods: {
      validateMenu (rule, value, callback) {
        console.log('validateActiveTime===>', this.$refs.menuTree.checkedKeys)
        if (!this.$refs.menuTree.checkedKeys.length) {
          return callback(new Error('请授权菜单'))
        } else {
          return callback()
        }
      },
      getAuthMenus () {
        getAuthMenus({
          tenantId: this.tenantId,
          appId: this.appInfo.id
        }).then(res => {
          this.$refs.menuTree.checkedKeys = res.list.map(item => item.resourceId)
        })
      },
      handleOk () {
        // this.$refs.form.validate(async valid => {
          // console.log('valu===>', valid)
          // if (!valid) return
          console.log('this.$refs.menuTree.checkedKeys===>', this.$refs.menuTree.checkedKeys)
          authMenus({
            tenantId: this.tenantId,
            resourceId: this.appInfo.id,
            list: this.$refs.menuTree.checkedKeys
          }).then(res => {
            if (res) {
              this.$message.success('保存成功')
              this.$emit('update:visible', false)
              this.$emit('handleOk')
            }
          })
        // })
      },
      handleCancel () {
        this.$refs.menuTree.checkedKeys = []
        this.$emit('handleCancel')
        this.$emit('update:visible', false)
      }
    },
    computed: {
      modalTitle () {
        if (this.appInfo) {
          return `授权应用-${this.appInfo.name}`
        } else {
          return '授权应用'
        }
      }
    },
    watch: {
      visible: {
        handler (val) {
          if (val) {
            this.getAuthMenus()
          }
        }
      }
    }
  }
</script>

<style lang="less" scoped>
/deep/ .ant-form-item-no-colon {
  color: rgba(0,0,0,0.65)
}
.uploader {
  position: relative;
  // /deep/ .ant-upload {
  //   width: 80px;
  //   height: 80px;
  // }
  .head-image {
    width: 100px;
    height: 100px;
  }
}

</style>
