<template>
  <div>
    <a-checkbox style="margin-left: 26px;" v-model="isCheckAll" @change="onSelectAll">全选</a-checkbox>
    <div class="divide"></div>
    <a-tree
      checkable
      v-model="checkedKeys"
      :auto-expand-parent="autoExpandParent"
      :tree-data="treeData"
      :replaceFields="replaceFields"
      :selectable="false"
      @expand="onExpand"
      class="menu-tree"
    >
    </a-tree>
  </div>
</template>

<script>
  import { getMenuList } from '@/api/application'

  export default {
    props: {
      appId: {
        type: [String, Number],
        default: ''
      },
      tenantId: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        searchName: '',
        expandedKeys: [],
        autoExpandParent: true,
        checkedKeys: [],
        treeData: [],
        replaceFields: {
          title: 'name',
          key: 'id',
          children: 'children'
        }
      }
    },
    computed: {
      isCheckAll () {
        if (this.treeData.length) {
          const temp = this.treeData.map(v => v.id)
          console.log('temp===>', temp)
          this.checkedKeys.forEach(key => {
            temp.forEach((id, index) => {
              if (id === key) {
                temp.splice(index, 1)
              }
            })
          })
          return !temp.length
        } else {
          return false
        }
      }
    },
    methods: {
      getMenuList () {
        getMenuList({
          appId: this.appId,
          name: this.searchName,
          tenantId: this.tenantId,
          status: 1
        }).then(res => {
          console.log('res===>', res)
          if (res) {
            this.treeData = res.list
          }
        })
      },
      onExpand (expandedKeys) {
        console.log('onExpand', expandedKeys)
        this.expandedKeys = expandedKeys
        // this.autoExpandParent = false
      },
      onCheck (checkedKeys) {
        console.log('onCheck', checkedKeys)
        this.checkedKeys = checkedKeys
      },
      onSelectAll (e) {
        console.log('vonSelectAllal===>', e.target.checked)
        if (e.target.checked) {
          this.checkedKeys = this.treeData.map(v => v.id)
        } else {
          this.checkedKeys = []
        }
      }
    },
    watch: {
      appId: {
        handler (val) {
          if (val) {
            console.log('val===>', val)
            this.getMenuList()
          }
        },
        immediate: true
      }
    }
  }
</script>

<style lang="less" scoped>
.divide {
  width: 100%;
  height: 1px;
  background-color: #eee;
  margin: 10px 0;
}
</style>
