<template>
  <a-modal
    :title="modalTitle"
    :visible="visible"
    :confirm-loading="confirmLoading"
    :width="800"
    centered
    @ok="handleOk"
    @cancel="handleCancel">
    <a-form-model
      ref="form"
      :model="form"
      :rules="rules"
      :colon="false"
      :label-col="formItemLayout.labelCol"
      :wrapper-col="formItemLayout.wrapperCol">
      <a-form-model-item
        ref="name"
        prop="name"
        label="角色名称">
        <a-input v-model="form.name" placeholder="请输入角色名称"></a-input>
      </a-form-model-item>
      <a-form-model-item
        ref="desc"
        prop="desc"
        label="角色描述">
        <a-input v-model="form.desc" placeholder="请输入角色描述"></a-input>
      </a-form-model-item>
      <a-form-model-item
        ref="status"
        prop="status"
        label="状态">
        <a-switch :checked="form.status === 1" @change="onChangeStatus" />
      </a-form-model-item>

      <div class="tab-container">
        <a-tabs :default-active-key="activeKey" v-if="appList.length" @change="changeTab">
          <a-tab-pane :key="item.id" v-for="item in appList" :tab="item.name">
            <MenuTree :tenantId="tenantId" :ref="`menuTree-${item.id}`" :appId="item.id"/>
          </a-tab-pane>
        </a-tabs>
      </div>

      <div class="tip" v-if="!appList.length">* 请先授权应用平台</div>
    </a-form-model>

  </a-modal>
</template>

<script>
  import { getApplicationList } from '@/api/application'
  import { updateOrCreateRole, roleDetail } from '@/api/tenent'
  import MenuTree from './MenuTree'

  const formItemLayout = {
    labelCol: { span: 3 },
    wrapperCol: { span: 8 }
  }
  export default {
    components: {
      MenuTree
    },
    props: {
      visible: {
        type: Boolean,
        default: false
      },
      editId: {
        type: [String, Number],
        default: ''
      },
      tenantId: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        formItemLayout,
        modalTitle: '新增角色',
        confirmLoading: false,

        rules: {
          name: [
            { required: true, message: '请输入角色名称', trigger: 'blur' }
          ]
        },
        appList: [],
        activeKey: '',
        form: {
          name: '',
          desc: '',
          status: 1
        }
      }
    },
    methods: {
      getList () {
        getApplicationList({
          pageNo: 1,
          pageSize: 50,
          tenantId: this.tenantId
        }).then(res => {
          console.log(res)
          this.loading = false
          this.appList = res.list.filter(v => v.isOpen)
          this.activeKey = this.appList.length ? this.appList[0].id : ''
        })
      },
      onChangeStatus (val) {
        console.log('val===>', val)
        this.form.status = val
      },
      getRoleDetail () {
        roleDetail({
          id: this.editId
        }).then(res => {
          console.log('res===>', res)
          this.form = {
            name: res.detail.name,
            desc: res.detail.desc,
            status: res.detail.status
          }
        })
      },
      handleOk () {
        if (!this.appList.length) {
          return this.$message.error('请先授权应用平台')
        }
        this.$refs.form.validate(async valid => {
          if (!valid) return
          setTimeout(() => {
            const resourceIds = this.appList.filter(item => {
              return this.$refs[`menuTree-${item.id}`]
            }).map(item => {
              console.log('sdsds', this.$refs, this.$refs[`menuTree-${item.id}`])
              return {
                appId: item.id,
                menuIds: this.$refs[`menuTree-${item.id}`][0].checkedKeys
              }
            })
            console.log('resourceIds===>', resourceIds)

            updateOrCreateRole({
              tenantId: this.tenantId,
              type: 1,
              ...this.form,
              resourceIds,
              id: this.editId
            }).then(res => {
              console.log('res===>', res)
              if (res) {
                this.$message.success('保存成功')
                this.$emit('update:visible', false)
                this.$emit('handleOk')
              }
            })
          }, 0)
        })
      },
      handleCancel () {
        this.form = {
          name: '',
          desc: '',
          status: 1
        }

        this.$emit('handleCancel')
        this.$emit('update:visible', false)
      },
      changeTab (val) {
        console.log('val===>', val)
        this.activeKey = val
      }
    },
    mounted () {
      this.getList()
    },
    watch: {
      editId: {
        handler (val) {
          if (val) {
            this.modalTitle = '编辑角色'
            this.getRoleDetail()
          }
        },
        immediate: true
      }
    }
  }
</script>

<style lang="less" scoped>
.tab-container {
  padding: 0 20px;
}
.tip {
  color: rgba(0,0,0,0.4);
  margin: 20px 40px;
}
/deep/ .ant-modal-body {
  max-height: calc(100vh - 200px);
  overflow: auto;
}
.tip {
  color: rgba(0,0,0,0.5)
}
</style>
