<template>
  <a-modal
    :title="modalTitle"
    :visible="visible"
    :confirm-loading="confirmLoading"
    :width="860"
    layout="inline"
    centered
    @ok="handleOk"
    @cancel="handleCancel">
    <a-form-model
      ref="form"
      :model="form"
      :rules="rules"
      :colon="false"
      :label-col="formItemLayout.labelCol"
      :wrapper-col="formItemLayout.wrapperCol">
      <a-row :gutter="16">
        <a-col :span="12">
          <a-form-model-item
            ref="username"
            prop="username"
            label="用户名称">
            <a-input v-model="form.username" placeholder="请输入用户名称"></a-input>
          </a-form-model-item>
        </a-col>
        <a-col :span="12">
          <a-form-model-item
            ref="jobTitle"
            prop="jobTitle"
            label="职位">
            <a-input v-model="form.jobTitle" placeholder="请输入用户职位"></a-input>
          </a-form-model-item>
        </a-col>
      </a-row>

      <a-row :gutter="16">
        <a-col :span="12">
          <a-form-model-item
            ref="loginType"
            prop="loginType"
            label="登录方式">
            <a-checkbox-group v-model="checkedList" :options="loginOptions" />
          </a-form-model-item>
        </a-col>
        <a-col :span="12">
          <a-form-model-item
            ref="password"
            prop="password"
            label="密码">
            <a-input v-model="form.password" type="password" placeholder="请输入用户密码"></a-input>
          </a-form-model-item>
        </a-col>
      </a-row>

      <a-row :gutter="16">
        <a-col :span="12" v-if="checkedList.includes('邮箱')">
          <a-form-model-item
            ref="mail"
            prop="mail"
            label="邮箱">
            <a-input v-model="form.mail" placeholder="请输入邮箱"></a-input>
          </a-form-model-item>
        </a-col>
      </a-row>
      <a-row :gutter="16">
        <a-col :span="12" v-if="checkedList.includes('手机号')">
          <a-form-model-item
            ref="phone"
            prop="phone"
            label="手机号">
            <a-input v-model="form.phone" placeholder="请输入手机号"></a-input>
          </a-form-model-item>
        </a-col>
      </a-row>
      <a-row :gutter="16">
        <a-col :span="12" v-if="checkedList.includes('工号')">
          <a-form-model-item
            ref="jobNumber"
            prop="jobNumber"
            label="工号">
            <a-input v-model="form.jobNumber" placeholder="请输入工号"></a-input>
          </a-form-model-item>
        </a-col>
      </a-row>

      <a-row :gutter="16">
        <a-col :span="12">
          <a-form-model-item
            ref="roleIds"
            prop="roleIds"
            label="授权角色">
            <a-select mode="multiple" placeholder="请选择角色" v-model="form.roleIds" :default-value="form.roleIds" @change="handleChangeRole">
              <a-select-option v-for="item in roleList" :key="item.id">
                {{ item.name }}
              </a-select-option>
            </a-select>
          </a-form-model-item>
        </a-col>
      </a-row>

      <a-row :gutter="16">
        <a-col :span="12">
          <a-form-model-item
            ref="role"
            prop="role"
            label="门店列表">
            <a-select mode="multiple" placeholder="请选择门店" v-model="form.storeIds" :default-value="form.storeIds" @change="handleChangeStore">
              <a-select-option v-for="item in storeList" :key="item.id">
                {{ item.name }}
              </a-select-option>
            </a-select>
          </a-form-model-item>
        </a-col>
      </a-row>
    </a-form-model>
  </a-modal>
</template>

<script>
  import { createUser, getRoleList, getStoreList, updateUser } from '@/api/tenent'

  const formItemLayout = {
    labelCol: { span: 5 },
    wrapperCol: { span: 16 }
  }
  export default {
    props: {
      modalTitle: {
        type: String,
        default: '添加用户'
      },
      visible: {
        type: Boolean,
        default: false
      },
      form: {
        type: Object,
        default: null
      },
      tenantId: {
        type: String,
        default: ''
      }
    },

    data () {
      return {
        roleList: [],
        storeList: [],
        selecetRole: [],
        selecetStore: [],
        formItemLayout,
        checkedList: [],
        loginOptions: ['邮箱', '手机号', '工号'],
        rules: {
          username: [
            { required: true, message: '请输入用户名称', trigger: 'blur' }
          ],
          password: [
            { required: true, message: '请输入密码', trigger: 'blur' }
          ],
          roleIds: [
            { required: true, message: '请选择角色', trigger: 'blur' }
          ],
          loginType: [
            { required: true, validator: this.validateLoginType, trigger: 'blur' }
          ]
        },
        confirmLoading: false

      }
    },
    created () {
      this.getRoleList()
      this.getStoreList()
    },
    methods: {
      validateLoginType (rule, value, callback) {
        console.log('3433===>', 3433)

        if (!this.checkedList.length) {
          callback(new Error('请选择登录方式'))
        }
        callback()
      },
      getRoleList () {
        getRoleList({
          tenantId: this.tenantId,
          page: 1,
          pageSize: 1000
        }).then(res => {
          this.roleList = res.list
        })
      },
      getStoreList () {
        getStoreList({
          tenantId: this.tenantId,
          page: 1,
          pageSize: 1000
        }).then(res => {
          this.storeList = res.list
        })
      },
      // onChangeLoginType (val) {
      //   if (val.includes('邮箱')) {
      //     this.rules.mail = [
      //       { required: true, message: '请填写邮箱', trigger: 'blur' }
      //     ]
      //   } else {
      //     this.rules.mail = []
      //   }
      //   if (val.includes('手机号')) {
      //     this.rules.phone = [
      //       { required: true, message: '请填写手机号', trigger: 'blur' }
      //     ]
      //   } else {
      //     this.rules.phone = []
      //   }
      //   if (val.includes('工号')) {
      //     this.rules.jobNumber = [
      //       { required: true, message: '请填写工号', trigger: 'blur' }
      //     ]
      //   } else {
      //     this.rules.jobNumber = []
      //   }
      // },
      // 修改角色信息
      handleChangeRole (val) {
        console.log('val===>', val)
      },
      handleChangeStore (val) {
        console.log('val===>', val)
      },
      onChangeSort () {

      },
      onChangeStatus () {

      },
      handleOk () {
        this.$refs.form.validate(async valid => {
          if (!valid) return
          const apiUrl = this.form.id ? updateUser : createUser
          apiUrl({
            tenantId: this.tenantId,
            ...this.form
          }).then(res => {
            console.log('res===>', res)
            if (res.status) {
              this.$message.success('保存成功')
              this.$emit('update:visible', false)
              this.$emit('handleOk')
            }
          })
          this.checkedList = []
        })
      },
      handleCancel () {
        this.$emit('handleCancel')
        this.$emit('update:visible', false)
        this.checkedList = []
      }
    },
    watch: {
      form: {
        handler (val) {
          if (val) {
            if (this.form.mail) {
              this.checkedList.push('邮箱')
            }
            if (this.form.phone) {
              this.checkedList.push('手机号')
            }
            if (this.form.jobNumber) {
              this.checkedList.push('工号')
            }
          }
        },
        immediate: true
      },
      checkedList: {
        handler (val) {
          if (val.includes('邮箱')) {
            this.rules.mail = [
              { required: true, message: '请填写邮箱', trigger: 'blur' }
            ]
          } else {
            this.rules.mail = []
          }
          if (val.includes('手机号')) {
            this.rules.phone = [
              { required: true, message: '请填写手机号', trigger: 'blur' }
            ]
          } else {
            this.rules.phone = []
          }
          if (val.includes('工号')) {
            this.rules.jobNumber = [
              { required: true, message: '请填写工号', trigger: 'blur' }
            ]
          } else {
            this.rules.jobNumber = []
          }
        }
      }
    }
  }
</script>

<style lang="less" scoped>
/deep/ .ant-form-item-no-colon {
  color: rgba(0,0,0,0.65)
}
.uploader {
  position: relative;
  // /deep/ .ant-upload {
  //   width: 80px;
  //   height: 80px;
  // }
  .head-image {
    width: 100px;
    height: 100px;
  }
}

</style>
