<template>
  <page-header-wrapper
    class="tenant-detail"
    :title="title"
    :tab-list="tabList"
    :tab-active-key="tabActiveKey"
    @tabChange="handleTabChange">
    <template v-slot:content>
      <a-descriptions size="small" :column="isMobile ? 1 : 3">
        <a-descriptions-item v-for="item in tenantInfoList" :key="item.key" :label="item.title">
          <template v-if="item.type === 'input'">
            <span v-if="!isEdit">{{ tenantInfo[item.key] || '暂无信息' }}</span>
            <a-input style="height:28px;width: 230px;" v-else :disabled="!item.isEditable" v-model="tenantInfo[item.key]" :placeholder="item.placeholder"></a-input>
          </template>
          <a-switch :disabled="!isEdit" v-else-if="item.type === 'switch'" :default-checked="tenantInfo[item.key] === 1" @change="onChangeStatus" />
          <template v-if="item.type === 'timeRange'">
            <span v-if="!isEdit">
              {{ tenantInfo[item.key] ||
                tenantInfo.startDate ? `${moment(tenantInfo.startDate).format('YYYY-MM-DD')}至${moment(tenantInfo.endDate).format('YYYY-MM-DD')}`: '暂无信息'
              }}</span>
            <a-range-picker
              v-else
              :placeholder="['开始日期', '结束日期']"
              :disabled-date="disabledDate"
              :disabled="!isEdit"
              :locale="locale"
              format="YYYY-MM-DD"
              @change="changeTime"
              v-model="tenantInfo[item.key]"
            />
          </template>
          <a-upload
            v-else-if="item.type === 'img'"
            :disabled="!isEdit"
            ref="uploader"
            list-type="picture-card"
            class="uploader"
            :show-upload-list="false"
            accept="image/*"
            :action="currentHost + '/coupon/api/v1/image/upload'"
            :beforeUpload="beforeUpload"
            @change="$event => handleChangeImg(item.key, $event)"
          >
            <img v-if="tenantInfo[item.key]" :src="tenantInfo[item.key]" alt="avatar" class="head-image"/>
            <div v-else>
              <a-icon type="plus" />
            </div>
          </a-upload>
        </a-descriptions-item>
      </a-descriptions>
    </template>

    <!-- <template v-slot:extra>
      <a-button type="primary" @click="handleEdit">{{ isEdit ? '取消编辑': '编辑基本信息' }}</a-button>
    </template> -->

    <AppList v-if="tabActiveKey === 'application' && !isLoading" :tenantId="detailId"/>
    <Store v-if="tabActiveKey === 'store' && !isLoading" :tenantId="detailId"/>
    <RoleList v-if="tabActiveKey === 'role' && !isLoading" :tenantId="detailId"/>
    <UserList v-if="tabActiveKey === 'user' && !isLoading" :tenantId="detailId"/>
  </page-header-wrapper>
</template>

<script>
  import { baseMixin } from '@/store/app-mixin'
  import { getDetail } from '@/api/tenent'
  import locale from 'ant-design-vue/es/date-picker/locale/zh_CN'
  import moment from 'moment'
  import AppList from './pages/AppList'
  import Store from './pages/Store'
  import RoleList from './pages/RoleList'
  import UserList from './pages/UserList'

  export default {
    name: 'TenantDetail',
    mixins: [baseMixin],
    components: {
      // MzEditableCell
      AppList,
      Store,
      RoleList,
      UserList
    },
    data () {
      return {
        isLoading: true,
        locale,
        moment,
        tabList: [
          { key: 'application', tab: '应用' },
          { key: 'store', tab: '门店' },
          { key: 'role', tab: '角色' },
          { key: 'user', tab: '用户' }
        ],
        title: '',
        tabActiveKey: 'user',
        isEdit: false, // 是否编辑
        detailId: '', // 详情id， 为0时代表新增
        currentHost: 'https://www.mzdata.top', // 当前host
        tenantInfo: {
          code: 'ts',
          createdAt: '2021-07-19 15:23:31',
          creatorName: '',
          endDate: '2021-07-28 00:00:00',
          logo: '',
          name: '',
          sortValue: 0,
          startDate: '2021-07-19 00:00:00',
          status: 1,
          updatedAt: '2021-07-19 15:29:59'
        },
        // 租户详情list
        tenantInfoList: [
          {
            title: '租户名称',
            key: 'name',
            type: 'input',
            placeholder: '请输入租户名称',
            isEditable: true
          },
          {
            title: '租户编号',
            key: 'code',
            type: 'input',
            placeholder: '请输入租户编号',
            isEditable: true
          },
           {
            title: '创建人',
            key: 'creatorName',
            type: 'input',
            isEditable: false
          },
          {
            title: '生效时间',
            key: 'tiemInterval',
            type: 'timeRange'
          },

          {
            title: '租户图标',
            key: 'logo',
            type: 'img',
            isEditable: true
          },
          {
            title: '状态',
            key: 'status',
            type: 'switch',
            isEditable: true
          }
        ]
      }
    },
    mounted () {
    },
    methods: {
      getDetail () {
        getDetail({
          id: this.detailId
        }).then(res => {
          console.log('res===>', res)
          this.tenantInfo = res.detail
          this.isLoading = false
        })
      },

      handleTabChange (val) {
        console.log('val===>', val)
        this.tabActiveKey = val
      },
      handleEdit () {
        this.isEdit = !this.isEdit
      },

      handleChangeImg (key, files) {
        console.log('file===>', files, files.file.response)
        if (files.file.response) {
          this.tenantInfo[key] = files.file.response.data
        }
      },
      beforeUpload (file, fileList) {
        if (file.size > 1.2 * 1024 * 1024) {
          this.$message.error('图片最大上传1.2M')
          return false
        }
        console.log('111===>', file, fileList)
      },
      disabledDate (current) {
        return current && current < moment().endOf('day') - 24 * 3600 * 1000
      },
      changeTime (val) {

      },
      onChangeStatus () {

      }
    },
    watch: {
      $route: {
        handler (val) {
          if (val.params.id === '0' || !val.params.id) {
            console.log('val===>', val)
            this.detailId = ''
            this.isEdit = true
            this.isLoading = false
          } else {
            this.isEdit = false
            this.detailId = val.params.id
            this.getDetail()
          }
        },
        immediate: true
      }
    }
  }
</script>

<style lang="less" scoped>
.tenant-detail {
  /deep/ .ant-upload.ant-upload-select-picture-card {
    width: 50px;
    height:  50px;
    margin-bottom: 0;
    .ant-upload {
      padding: 0;
    }
  }
  .uploader {
    .head-image {
      width: 46px;
      height: 46px;
    }
  }
  /deep/ .ant-calendar-picker {
    width: 230px;
    .ant-input {
      height: 28px;
      line-height: 1;
    }
  }
  /deep/ .ant-descriptions-row {
    display: flex;

    .ant-descriptions-item {
      width: 50%;
      display: flex;
      align-items: center;
      margin-top: 4px;
      .ant-descriptions-item-label  {
        width: 70px;
      }
      .ant-descriptions-item-content {
        line-height: 1;
      }

    }
  }
}
</style>
