<template>
  <page-header-wrapper>
    <a-card :bordered="false">
      <a-row class="top" style="margin-bottom: 20px;" type="flex" justify="space-between">
        <a-col :span="22">
          <a-input-search v-model="keyword" placeholder="请输入租户名称" style="width: 180px;margin-right:24px" allow-clear @search="init" />
          <a-radio-group v-model="status" @change="handleChange">
            <a-radio-button :value="undefined">全部</a-radio-button>
            <a-radio-button :value="1">正常</a-radio-button>
            <a-radio-button :value="0">停用</a-radio-button>
          </a-radio-group>
        </a-col>
        <!-- <a-col :span="2">
          <a-button type="primary" @click="addNew">新增</a-button>
        </a-col> -->
      </a-row>
      <a-table
        :columns="columns"
        :data-source="data"
        size="middle"
        :pagination="pagination"
        :scroll="{ x: 1000 }"
        rowKey="id"
        @change="pageChange">
        <template slot="logo" slot-scope="text, record">
          <img style="width:50px;height:50px;" :src="record.logo" alt="">
        </template>
        <template slot="status" slot-scope="text, record">
          <span v-if="record.status === 1">
            <span class="green"></span>
            正常
          </span>
          <span v-else>
            <span class="grey"></span>
            失效
          </span>
        </template>
        <template slot="operation" slot-scope="text, record">
          <a-button type="link" class="text-btn" size="small" @click="handleEdit(record)">
            详情
          </a-button>
          <span class="divide"></span>
          <!-- <a-button type="link" class="text-btn" size="small" @click="handleUpdate(record)">
            {{ record.status === 1 ? '停用' : '启用' }}
          </a-button> -->
        </template>
      </a-table>
    </a-card>
    <!-- <TenantModal
      :visible.sync="tenantVisible"
      :form="form"
      :isEdit="isEdit"
      @handleChange="handleChangeTenent"
      @handleCancel="handleCancel"
      @handleOk="init"/> -->
  </page-header-wrapper>
</template>

<script>
  import { getTenantList, editTenant } from '@/api/tenent'

  import TenantModal from './TenantModal.vue'

  const columns = [
    {
      title: '租户logo',
      dataIndex: 'logo',
      scopedSlots: { customRender: 'logo' },
      width: 100
    },
    {
      title: '租户名称',
      dataIndex: 'name',
      width: 140
    },
    {
      title: '租户编码',
      dataIndex: 'code',
      width: 120
    },
    {
      title: '创建人',
      dataIndex: 'creatorName',
      width: 100
    },
     {
      title: '创建时间',
      dataIndex: 'createdAt',
      width: 140
    },
    {
      title: '状态',
      dataIndex: 'status',
      scopedSlots: { customRender: 'status' },
      width: 60
    },
    {
      title: '操作',
      scopedSlots: { customRender: 'operation' },
      width: 100,
      fixed: 'right'
    }
  ]

  const formItemLayout = {
    labelCol: { span: 3 },
    wrapperCol: { span: 8 }
  }
  export default {
    components: {
      TenantModal
    },
    data () {
      return {
        formItemLayout,
        data: [],
        columns,
        keyword: '',
        status: 1,
        pagination: {
          showSizeChanger: true,
          showQuickJumper: true,
          pageSize: 20,
          current: 1,
          total: 0
        },
        form: {},
        modalTitle: '新增租户',
        tenantVisible: false,
        confirmLoading: false,
        isEdit: false
      }
    },
    created () {
      this.getList()
    },
    methods: {
      // 初始化数据
      init () {
        this.pagination.current = 1
        this.getList()
      },
      // 获取列表
      getList () {
        getTenantList({
          keyword: this.keyword,
          status: this.status,
          page: this.pagination.current,
          pageSize: this.pagination.pageSize
        }).then(res => {
          console.log('res===>', res)
          this.data = res.list
          this.pagination.total = res.count
        })
      },
      // 搜索状态
      handleChange (e) {
        console.log('val===>', e)
        this.status = e.target.value
        this.init()
      },
      // 修改分页
      pageChange (pagination, filters, sorter, { currentDataSource }) {
        console.log('pagination===>', pagination)
        this.pagination = pagination
        this.getList()
      },
      addNew () {
        this.$router.push({
          path: '/tenant/list/0'
        })
      },
      handleEdit (item) {
        this.$router.push({
          path: `/tenant/list/${item.id}`
        })
      },
      // 更新租户状态
      handleUpdate (item) {
        const tip = item.status === 1 ? '是否确认停用该租户?' : '是否确认启用该租户?'
        this.$confirm({
          centered: true,
          title: '',
          content: tip,
          cancelText: '取消',
          okText: '确认',
          onOk: () => {
            editTenant({
              ...item,
              status: item.status === 1 ? 0 : 1
            }).then(res => {
              console.log('res===>', res)
              if (res) {
                this.$message.success('状态更改成功')
                this.init()
              }
            })
          },
          onCancel () {}
        })
      }

      // handleChangeTenent (type, data) {
      //   console.log('data===>', type, data)
      //   if (type === 'timeInterval') {
      //     this.form.timeInterval = data.map(item => {
      //       return moment(item._d).format('YYYY-MM-DD')
      //     })
      //   } else {
      //     this.form[type] = data
      //   }
      // },
      // handleCancel () {
      //   this.form = {}
      //   this.isEdit = false
      // }
    }
  }
</script>

<style lang="scss" scoped>

</style>
