<template>
  <a-modal
    :title="modalTitle"
    :visible="visible"
    :confirm-loading="confirmLoading"
    :width="800"
    centered
    @ok="handleOk"
    @cancel="handleCancel">
    <a-form-model
      ref="form"
      :model="form"
      :rules="rules"
      :colon="false"
      :label-col="formItemLayout.labelCol"
      :wrapper-col="formItemLayout.wrapperCol">
      <a-form-model-item
        ref="name"
        prop="name"
        label="租户名称">
        <a-input v-model="form.name" placeholder="请输入租户名称"></a-input>
      </a-form-model-item>
      <a-form-model-item
        ref="code"
        prop="code"
        label="租户编码">
        <a-input v-model="form.code" placeholder="请输入租户编码"></a-input>
      </a-form-model-item>
      <a-form-model-item
        ref="iconCode"
        prop="iconCode"
        label="生效时间">
        <a-range-picker
          :placeholder="['开始日期', '结束日期']"
          :disabled-date="disabledDate"
          :locale="locale"
          format="YYYY-MM-DD"
          @change="changeTime"
          v-model="form.timeInterval"
        />
      </a-form-model-item>
      <a-form-model-item
        ref="logo"
        prop="logo"
        label="租户图标">
        <a-upload
          ref="uploader"
          list-type="picture-card"
          class="uploader"
          :show-upload-list="false"
          accept="image/*"
          :action="currentHost + '/coupon/api/v1/image/upload'"
          :beforeUpload="beforeUpload"
          @change="handleChangeImg"
        >
          <img v-if="form.logo" :src="form.logo" alt="avatar" class="head-image"/>
          <div v-else>
            <a-icon type="plus" />
          </div>
        </a-upload>
      </a-form-model-item>
    </a-form-model>
  </a-modal>
</template>

<script>
  import { addTenant, editTenant } from '@/api/tenent'
  import moment from 'moment'
  import 'moment/locale/zh-cn'
  import locale from 'ant-design-vue/es/date-picker/locale/zh_CN'

  const formItemLayout = {
    labelCol: { span: 3 },
    wrapperCol: { span: 8 }
  }
  export default {
    props: {

      modalTitle: {
        type: String,
        default: '新增租户'
      },
      visible: {
        type: Boolean,
        default: false
      },
      form: {
        type: Object,
        default: null
      },
      isEdit: {
        type: Boolean,
        default: false
      }

    },

    data () {
      return {
        locale,
        moment,
        currentHost: 'https://www.mzdata.top',
        formItemLayout,
        rules: {
          name: [
            { required: true, message: '请输入菜单名称', trigger: 'blur' }
          ],
          code: [
            { required: true, message: '请输入菜单名称', trigger: 'blur' }
          ],
          logo: [
            { required: true, message: '请输入菜单名称', trigger: 'blur' }
          ],
          sortValue: [
            { required: true, message: '请输入排序', trigger: 'blur' }
          ]
        },
        typeTreeData: [],
        value: undefined,
        confirmLoading: false,
        replaceFields: {
          title: 'name',
          key: 'id',
          value: 'id',
          children: 'children'
        },
        iconType: 'icon'
      }
    },

    created () {
      if (location.origin !== 'https://www.mzdata.top') {
        this.currentHost = 'https://pre.mzdata.top'
      } else {
        this.currentHost = 'https://www.mzdata.top'
      };

      console.log('locale===>', this.locale)
    },
    methods: {
      disabledDate (current) {
        // Can not select days before today and today
        return current && current < this.moment().endOf('day') - 24 * 3600 * 1000
      },
      onChangeStatus () {

      },
      changeTime (val) {
        this.$emit('handleChange', 'timeInterval', val)
      },
      handleChangeImg (files) {
        console.log('file===>', files, files.file.response)
        if (files.file.response) {
          this.$emit('handleChange', 'logo', files.file.response.data)
        }
      },
      beforeUpload (file, fileList) {
        if (file.size > 1.2 * 1024 * 1024) {
          this.$message.error('图片最大上传1.2M')
          return false
        }
        console.log('111===>', file, fileList)
      },
      handleOk () {
        this.$refs.form.validate(async valid => {
          if (!valid) return
          const apiUrl = this.isEdit ? editTenant : addTenant
          const params = {
            code: this.form.code,
            name: this.form.name,
            logo: this.form.logo,
            status: 1,
            sortValue: 0,
            startDate: this.form.timeInterval[0],
            endDate: this.form.timeInterval[1]
          }
          this.isEdit && (params.id = this.form.id)
          apiUrl(params).then(res => {
            console.log('res===>', res)
            if (res) {
              this.$message.success('保存成功')
              this.$emit('update:visible', false)
              this.$emit('handleOk')
            }
          })
        })
      },
      handleCancel () {
        this.$emit('handleCancel')
        this.$emit('update:visible', false)
      }
    }
  }
</script>

<style lang="less" scoped>
/deep/ .ant-form-item-no-colon {
  color: rgba(0,0,0,0.65)
}
.uploader {
  position: relative;
  // /deep/ .ant-upload {
  //   width: 80px;
  //   height: 80px;
  // }
  .head-image {
    width: 100px;
    height: 100px;
  }
}

</style>
