<template>
  <div class="editable-cell">
    <div v-if="editable" class="editable-cell-input-wrapper">
      <a-input
        size="small"
        style="width:70px;margin-right:10px"
        :value="value"
        @change="handleChange"
        @pressEnter="check" />
      <a-icon
        type="check"
        class="editable-cell-icon-check"
        @click="check"
      />
    </div>
    <div v-else class="editable-cell-text-wrapper">
      {{ value }}
      <a-icon type="edit" style="color:rgba(0,0,0,0.5);margin-left: 6px;" class="editable-cell-icon" @click="edit" />
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      text: [Number, String]
    },
    data () {
      return {
        value: this.text,
        editable: false
      }
    },
    methods: {
      handleChange (e) {
        const value = e.target.value
        this.value = value
      },
      check () {
        this.editable = false
        this.$emit('change', this.value)
      },
      edit () {
        this.editable = true
      }
    }
  }
</script>

<style lang="less" scoped>
.editable-cell-input-wrapper {
  display: flex;
  align-items: center;
}
</style>
